:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: white;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('./assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('./assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.gradient-background {
  background: linear-gradient(270deg, #9CCC74, #82b956);
  animation: gradientAnimation 5s ease infinite;
  background-size: 800% 800%;

  height: 40vh;
  width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  gap: 5vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-container {
  background-color: white;
  min-height: 100vh;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.large-white-text {
  color: white;
  font-size: 44px;
}

.medium-white-text {
  color: white;
  font-size: 30px;
}

.xlarge-white-text {
  font-size: 64px;
  color: white;
}

.main-wrapper-container {
  padding: 0px 15vw;
  text-align: center;
}

.main-wrapper-content {
  width: 70vw;
  height: 60vh;
}

.padding-vertical-small {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.text-container {
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add space between elements */
}